USE [CWN_Service_Email]
GO
/****** Object:  Table [dbo].[Mail_Attachment]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_Attachment](
	[AttachmentId] [int] IDENTITY(1,1) NOT NULL,
	[SendId] [int] NULL,
	[Attachment] [nvarchar](max) NOT NULL,
	[AttachmentName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Mail_Attachment] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mail_Job]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_Job](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceKey1] [varchar](100) NULL,
	[ReferenceKey2] [varchar](100) NULL,
	[ReferenceKey3] [varchar](100) NULL,
	[FromName] [varchar](100) NOT NULL,
	[FromEmail] [varchar](200) NOT NULL,
	[ToMail] [varchar](200) NOT NULL,
	[Subject] [varchar](100) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[TemplateID] [varchar](100) NULL,
	[TemplateParameter] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[PackageKey] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mail_Job] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mail_Job_Log]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_Job_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[LogEvent] [nvarchar](max) NULL,
	[LogContent] [nvarchar](max) NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Email_Jobs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mail_Send]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_Send](
	[SendId] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceKey1] [varchar](100) NULL,
	[ReferenceKey2] [varchar](100) NULL,
	[ReferenceKey3] [varchar](100) NULL,
	[FromName] [varchar](100) NOT NULL,
	[FromEmail] [varchar](200) NOT NULL,
	[ToMail] [varchar](200) NOT NULL,
	[Subject] [varchar](100) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[TemplateID] [varchar](100) NULL,
	[TemplateParameter] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ResultTrackingID] [varchar](200) NULL,
	[ResultContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_Mail_Send] PRIMARY KEY CLUSTERED 
(
	[SendId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mail_Tracking]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail_Tracking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SendId] [int] NOT NULL,
	[JobId] [int] NOT NULL,
	[SendDateTime] [datetime] NULL,
	[TrackingID] [varchar](200) NULL,
	[TrackingStatus] [varchar](30) NULL,
	[TrackingResultContent] [varchar](max) NULL,
	[TrackingDate] [datetime] NULL,
	[CreateDate] [datetime] NOT NULL,
	[ErrorType] [varchar](50) NULL,
	[ErrorRemark] [varchar](200) NULL,
 CONSTRAINT [PK_TRN_Response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Register]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Register](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](500) NOT NULL,
	[Username] [varchar](200) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_MST_Register_1] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_Register_Log]    Script Date: 16/12/2019 11:17:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_Register_Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Event] [varchar](50) NULL,
	[Token] [nvarchar](max) NULL,
	[Username] [varchar](200) NULL,
	[Password] [varchar](200) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MST_Register_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mail_Attachment] ON 

SET IDENTITY_INSERT [dbo].[Mail_Attachment] OFF
SET IDENTITY_INSERT [dbo].[Mail_Job_Log] ON 

INSERT [dbo].[Mail_Job_Log] ([Id], [JobId], [LogEvent], [LogContent], [LogDate]) VALUES (6, 22, N'Send Ok', N'{"id":"d1297b05b1127750ce50ab992b4b14f9","status":"success","message":"The email was delivered","credits":410148.0,"date":"2019-12-12T16:04:12","status_code":"200"}', CAST(N'2019-12-12T16:04:25.920' AS DateTime))
INSERT [dbo].[Mail_Job_Log] ([Id], [JobId], [LogEvent], [LogContent], [LogDate]) VALUES (7, 23, N'Send Ok', N'{"id":"bf6e76af6118fcf7759c2e0496f0a1c1","status":"success","message":"The email was delivered","credits":410102.0,"date":"2019-12-12T16:16:19","status_code":"200"}', CAST(N'2019-12-12T16:16:17.750' AS DateTime))
INSERT [dbo].[Mail_Job_Log] ([Id], [JobId], [LogEvent], [LogContent], [LogDate]) VALUES (8, 24, N'Send Ok', N'{"id":"0c8430c4845d84f757b1ab858f62e064","status":"success","message":"The email was delivered","credits":410100.0,"date":"2019-12-12T16:16:24","status_code":"200"}', CAST(N'2019-12-12T16:16:24.853' AS DateTime))
SET IDENTITY_INSERT [dbo].[Mail_Job_Log] OFF
SET IDENTITY_INSERT [dbo].[Mail_Send] ON 

SET IDENTITY_INSERT [dbo].[Mail_Send] OFF
SET IDENTITY_INSERT [dbo].[Mail_Tracking] ON 

INSERT [dbo].[Mail_Tracking] ([Id], [SendId], [JobId], [SendDateTime], [TrackingID], [TrackingStatus], [TrackingResultContent], [TrackingDate], [CreateDate], [ErrorType], [ErrorRemark]) VALUES (65, 65, 65, CAST(N'2019-12-12T14:13:22.230' AS DateTime), N'c1ab4bcb21ab2b4523f229e13d20e52d', NULL, NULL, NULL, CAST(N'2019-12-12T14:13:22.230' AS DateTime), NULL, NULL)
INSERT [dbo].[Mail_Tracking] ([Id], [SendId], [JobId], [SendDateTime], [TrackingID], [TrackingStatus], [TrackingResultContent], [TrackingDate], [CreateDate], [ErrorType], [ErrorRemark]) VALUES (66, 66, 66, CAST(N'2019-12-12T15:20:11.290' AS DateTime), N'4c9bcbcf8cdbc5162ed32e072e13c353', NULL, NULL, NULL, CAST(N'2019-12-12T15:20:11.290' AS DateTime), NULL, NULL)
INSERT [dbo].[Mail_Tracking] ([Id], [SendId], [JobId], [SendDateTime], [TrackingID], [TrackingStatus], [TrackingResultContent], [TrackingDate], [CreateDate], [ErrorType], [ErrorRemark]) VALUES (67, 67, 67, CAST(N'2019-12-12T15:50:56.377' AS DateTime), N'90dfb94ae7111d4547282769d4cb50b4', NULL, NULL, NULL, CAST(N'2019-12-12T15:50:56.377' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Mail_Tracking] OFF
SET IDENTITY_INSERT [dbo].[MST_Register] ON 

INSERT [dbo].[MST_Register] ([Id], [Token], [Username], [Password], [StartTime], [EndTime], [CreateDate], [UpdateDate], [IsActive], [Role]) VALUES (6, N'ezRmYTc5M2M3LTMwMjUtNDFjNy05ZWM4LWU2MzdiZGVmNjI0M3wxMzozMDowMHwxNjo1OTowMH0=', N'Administrator', N'ezE5ODF9', CAST(N'08:00:00' AS Time), CAST(N'23:59:00' AS Time), CAST(N'2019-11-19T22:00:00.000' AS DateTime), CAST(N'2019-10-03T16:14:40.483' AS DateTime), 1, N'Admin')
INSERT [dbo].[MST_Register] ([Id], [Token], [Username], [Password], [StartTime], [EndTime], [CreateDate], [UpdateDate], [IsActive], [Role]) VALUES (8, N'ezJmNTEwNjdmLWU2NzUtNGNkNS05MDE5LWYyZTAwMzdkZTEwM3wwODowMDowMHwxNzo1OTowMH0=', N'ETax', N'e2V0YXh9', CAST(N'08:00:00' AS Time), CAST(N'17:59:00' AS Time), CAST(N'2019-11-29T11:55:43.880' AS DateTime), CAST(N'2019-12-12T15:17:59.870' AS DateTime), 1, NULL)
INSERT [dbo].[MST_Register] ([Id], [Token], [Username], [Password], [StartTime], [EndTime], [CreateDate], [UpdateDate], [IsActive], [Role]) VALUES (9, N'ezA4NzYzOGUwLTRjMzEtNDA3ZC1hMmJjLWU1ZjI0Y2UzMjBkMnwxNjoxMDowMHwxNzo1OTowMH0=', N'ETaxRobot', N'e2V0YXh9', CAST(N'16:10:00' AS Time), CAST(N'17:59:00' AS Time), CAST(N'2019-12-12T15:19:17.117' AS DateTime), CAST(N'2019-12-12T16:07:22.217' AS DateTime), 1, NULL)
SET IDENTITY_INSERT [dbo].[MST_Register] OFF
SET IDENTITY_INSERT [dbo].[MST_Register_Log] ON 

INSERT [dbo].[MST_Register_Log] ([Id], [Event], [Token], [Username], [Password], [StartTime], [EndTime], [LogDate]) VALUES (9, N'Update Information', N'ezRmYTc5M2M3LTMwMjUtNDFjNy05ZWM4LWU2MzdiZGVmNjI0M3wxMzozMDowMHwxNjo1OTowMH0=', N'ETax', N'e2V0YXh9', CAST(N'08:00:00' AS Time), CAST(N'17:59:00' AS Time), CAST(N'2019-12-12T15:17:59.870' AS DateTime))
INSERT [dbo].[MST_Register_Log] ([Id], [Event], [Token], [Username], [Password], [StartTime], [EndTime], [LogDate]) VALUES (10, N'Register User', N'e2QyNWE0MmU3LWViMDAtNDlmMC1hMGVhLTFhMDM3Y2MwNzdlNnwxNToyNTowMHwxOTo1OTowMH0=', N'ETaxRobot', N'e2V0YXh9', CAST(N'15:25:00' AS Time), CAST(N'19:59:00' AS Time), CAST(N'2019-12-12T15:19:17.117' AS DateTime))
INSERT [dbo].[MST_Register_Log] ([Id], [Event], [Token], [Username], [Password], [StartTime], [EndTime], [LogDate]) VALUES (11, N'Update Information', N'ezRmYTc5M2M3LTMwMjUtNDFjNy05ZWM4LWU2MzdiZGVmNjI0M3wxMzozMDowMHwxNjo1OTowMH0=', N'ETaxRobot', N'e2V0YXh9', CAST(N'15:55:00' AS Time), CAST(N'17:59:00' AS Time), CAST(N'2019-12-12T15:53:18.710' AS DateTime))
SET IDENTITY_INSERT [dbo].[MST_Register_Log] OFF
ALTER TABLE [dbo].[Mail_Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Attachment_Mail_Send] FOREIGN KEY([SendId])
REFERENCES [dbo].[Mail_Send] ([SendId])
GO
ALTER TABLE [dbo].[Mail_Attachment] CHECK CONSTRAINT [FK_Mail_Attachment_Mail_Send]
GO
ALTER TABLE [dbo].[Mail_Tracking]  WITH CHECK ADD  CONSTRAINT [FK_Mail_Tracking_Mail_Send] FOREIGN KEY([SendId])
REFERENCES [dbo].[Mail_Send] ([SendId])
GO
ALTER TABLE [dbo].[Mail_Tracking] CHECK CONSTRAINT [FK_Mail_Tracking_Mail_Send]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPeriodByJob]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetPeriodByJob]
	@TimeNow			time(7),
	@MaxRowData			int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT dbB.SendId,dbA.*,dbC.AttachmentName AS AttachName, dbC.Attachment AS AttachFile  FROM (SELECT TOP(@MaxRowData)* FROM [dbo].[Mail_Job] WHERE([StartTime]<=@TimeNow AND [EndTime]>=@TimeNow)) AS dbA
	INNER JOIN (SELECT JobId,SendId FROM [dbo].[Mail_Tracking]) AS dbB
	ON dbA.JobId = dbB.JobId
	LEFT JOIN (SELECT SendId, AttachmentName, Attachment FROM [dbo].[Mail_Attachment]) AS dbC
	ON dbB.SendId = dbC.SendId
	ORDER BY CreateDate ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPeriodTimeOfRegister]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetPeriodTimeOfRegister]
	-- Add the parameters for the stored procedure here
	@OldToken			varchar(500),
	@Username			varchar(500),
	@Password			varchar(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	SELECT [StartTime],[EndTime] FROM [dbo].[MST_Register] WHERE [Token]=@OldToken AND [Username]=@Username AND [Password]=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetToken]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetToken]
	@NewToken			varchar(500),
	@DateTimeNow		datetime,
	@Username			varchar(500),
	@Password			varchar(500),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN
	IF NOT EXISTS (SELECT [Id] FROM [dbo].[MST_Register] WHERE [Username]=@Username AND [Password]=@Password)
		BEGIN
			SET @rStatus = 0;
			SET @rMessage = 'User is not registered.';
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			SAVE TRANSACTION SavePoint
			BEGIN TRY

				UPDATE [dbo].[MST_Register]
				SET [Token]=@NewToken, [UpdateDate]=@DateTimeNow, [IsActive]=1
				WHERE [Username]=@Username AND [Password]=@Password

				INSERT INTO [dbo].[MST_Register_Log]
				([Event],[Token],[Username],[Password],[LogDate])
				VALUES ('Get Token',@NewToken,@Username,@Password,@DateTimeNow);

				SET @rStatus = 1;
				SET @rMessage = 'Successfully';	

				COMMIT TRANSACTION SavePoint;

			END TRY
			BEGIN CATCH
			ROLLBACK TRANSACTION SavePoint
				SET @rStatus = 0;
				SELECT @rMessage = ERROR_MESSAGE();
			END CATCH
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mail_Job]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Mail_Job]
	@JobId				int,
	@DateTimeNow		datetime,
	@SendDateTime		datetime,
	@ResultTrackingID	varchar(200),
	@ResultContent		nvarchar(Max),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN

	IF NOT EXISTS (SELECT [JobId] FROM [dbo].[Mail_Job] WHERE [JobId]=@JobId)
		BEGIN
			SET @rStatus = 0;
			SET @rMessage = 'Job not found.';
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			SAVE TRANSACTION SavePoint
			BEGIN TRY

				DECLARE @SendId int = 0;

				SELECT @SendId=[SendId] FROM [dbo].[Mail_Tracking] WHERE [JobId]=@JobId;

				UPDATE [dbo].[Mail_Send]
				SET [ResultTrackingID]=@ResultTrackingID, [ResultContent]=@ResultContent
				WHERE [SendId]=@SendId

				UPDATE [dbo].[Mail_Tracking]
				SET [SendDateTime]=@SendDateTime, [TrackingID]=@ResultTrackingID
				WHERE [JobId]=@JobId

				INSERT INTO [dbo].[Mail_Job_Log] 
					([JobId],[LogEvent],[LogContent],[LogDate])
				VALUES (@JobId,'Send Ok',@ResultContent,@DateTimeNow);

				DELETE FROM [dbo].[Mail_Job] WHERE [JobId]=@JobId

				SET @rStatus = 1;
				SET @rMessage = 'Successfully';

				COMMIT TRANSACTION SavePoint;

			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION SavePoint
				SET @rStatus = 0;
				SELECT @rMessage = ERROR_MESSAGE();
			END CATCH
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mail_Job_ErrorLog]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Mail_Job_ErrorLog]
	@JobId				int,
	@DateTimeNow		datetime,
	@LogEvent			nvarchar(Max),
	@LogContent			nvarchar(Max),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN

	BEGIN TRANSACTION
		SAVE TRANSACTION SavePoint
		BEGIN TRY

			INSERT INTO [dbo].[Mail_Job_Log] 
				([JobId],[LogEvent],[LogContent],[LogDate])
			VALUES (@JobId,@LogEvent,@LogContent,@DateTimeNow);

			SET @rStatus = 1;
			SET @rMessage = 'Successfully';

			COMMIT TRANSACTION SavePoint;
		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION SavePoint
			SET @rStatus = 0;
			SELECT @rMessage = ERROR_MESSAGE();
		END CATCH

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Mail_Send]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Mail_Send]
	@DateTimeNow		datetime,
	@isSend				bit,
	@ReferenceKey1		varchar(100),
	@ReferenceKey2		varchar(100),
	@ReferenceKey3		varchar(100),
	@FromName			varchar(100),
	@FromEmail			varchar(200),
	@ToMail				varchar(200),
	@Subject			varchar(100),
	@Message			nvarchar(MAX),
	@TemplateID			varchar(10),
	@TemplateParameter	nvarchar(MAX),
	@Attachment			nvarchar(MAX),
	@AttachmentName		varchar(100),
	@PackageKey			nvarchar(MAX),
	@SendDateTime		datetime,
	@StartTime			time(7),
	@EndTime			time(7),
	@ResultTrackingID	varchar(200),
	@ResultContent		nvarchar(Max),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT,
	@rTrackID			int OUTPUT
AS
BEGIN

	BEGIN TRANSACTION
		SAVE TRANSACTION SavePoint
		BEGIN TRY

			DECLARE @JobID int = 0;
			DECLARE @SendID int = 0;

			IF (@isSend = 0) 
			BEGIN
				INSERT INTO [dbo].[Mail_Job]
						([ReferenceKey1],[ReferenceKey2],[ReferenceKey3],[FromName],[FromEmail],[ToMail],[Subject],[Message],[TemplateID],[TemplateParameter],[StartTime],[EndTime],[PackageKey],[CreateDate])
				VALUES (@ReferenceKey1,@ReferenceKey2,@ReferenceKey3,@FromName,@FromEmail,@ToMail,@Subject,@Message, (CASE WHEN @TemplateID='null' THEN NULL ELSE @TemplateID END),
				(CASE WHEN @TemplateParameter='null' THEN NULL ELSE @TemplateParameter END),@StartTime,@EndTime,@PackageKey,@DateTimeNow);

				SET @JobID = SCOPE_IDENTITY();
			END

			INSERT INTO [dbo].[Mail_Send]
					([ReferenceKey1],[ReferenceKey2],[ReferenceKey3],[FromName],[FromEmail],[ToMail],[Subject],[Message],[TemplateID],[TemplateParameter],[ResultTrackingID],[ResultContent],[CreateDate])
			VALUES (@ReferenceKey1,@ReferenceKey2,@ReferenceKey3,@FromName,@FromEmail,@ToMail,@Subject,@Message,
					(CASE WHEN @TemplateID='null' THEN NULL ELSE @TemplateID END),
					(CASE WHEN @TemplateParameter='null' THEN NULL ELSE @TemplateParameter END),@ResultTrackingID,@ResultContent,@DateTimeNow);

			SET @SendID = SCOPE_IDENTITY();

			IF (@AttachmentName IS NOT NULL OR @AttachmentName <>'' OR @AttachmentName <>'null')
			BEGIN
					INSERT INTO [dbo].[Mail_Attachment]
						   ([SendID],[Attachment],[AttachmentName])
					VALUES (@SendID,@Attachment,@AttachmentName);
			END

			INSERT INTO [dbo].[Mail_Tracking] 
				([SendID],[JobId],[SendDateTime],[TrackingID],[CreateDate])
			VALUES (@SendID,(CASE WHEN @JobID>0 THEN @JobID ELSE @SendID END),
				(CASE WHEN @SendDateTime=null THEN NULL ELSE @SendDateTime END),@ResultTrackingID,@DateTimeNow);

			SET @rStatus = 1;
			SET @rMessage = 'Insert Data Successfully';
			SET @rTrackID = (CASE WHEN @JobID>0 THEN @JobID ELSE @SendID END);

			COMMIT TRANSACTION SavePoint;

		END TRY
		BEGIN CATCH
			ROLLBACK TRANSACTION SavePoint
			SET @rStatus = 0;
			SELECT @rMessage = ERROR_MESSAGE();
		END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Mail_Tracking]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Mail_Tracking]
	@TrackingId			varchar(100),
	@DateTimeNow		datetime,
	@TrackingStatus		varchar(100),
	@ResultContent		nvarchar(Max),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN

	IF NOT EXISTS (SELECT [TrackingId] FROM [dbo].[Mail_Tracking] WHERE [TrackingId]=@TrackingId)
		BEGIN
			SET @rStatus = 0;
			SET @rMessage = 'Job not found.';
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			SAVE TRANSACTION SavePoint
			BEGIN TRY

				UPDATE [dbo].[Mail_Tracking]
				SET [TrackingStatus]=@TrackingStatus,[TrackingResultContent]=@ResultContent,[TrackingDate]=@DateTimeNow
				WHERE [TrackingId]=@TrackingId AND ([TrackingStatus]<>'delivered' OR [TrackingStatus] IS NULL)

				SET @rStatus = 1;
				SET @rMessage = 'Successfully';

				COMMIT TRANSACTION SavePoint;

			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION SavePoint
				SET @rStatus = 0;
				SELECT @rMessage = ERROR_MESSAGE();
			END CATCH
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_RegisterUser]
	@NewToken			varchar(500),
	@DateTimeNow		datetime,
	@Username			varchar(500),
	@Password			varchar(500),
	@StartTime			time(7),
	@EndTime			time(7),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN
	IF EXISTS (SELECT [Id] FROM [dbo].[MST_Register] WHERE [Username]=@Username AND [Password]=@Password)
		BEGIN
			SET @rStatus = 0;
			SET @rMessage = 'User is ready.';
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			SAVE TRANSACTION SavePoint
			BEGIN TRY

				INSERT INTO [dbo].[MST_Register]
					([Token],[Username],[Password],[StartTime],[EndTime],[CreateDate],[IsActive])
				VALUES (@NewToken,@Username,@Password,@StartTime,@EndTime,@DateTimeNow,1);
						
				INSERT INTO [dbo].[MST_Register_Log]
					([Token],[Event],[Username],[Password],[StartTime],[EndTime],[LogDate])
				VALUES (@NewToken,'Register User',@Username,@Password,@StartTime,@EndTime,@DateTimeNow);

				SET @rStatus = 1;
				SET @rMessage = 'Successfully';	

				COMMIT TRANSACTION SavePoint;

			END TRY
			BEGIN CATCH
			ROLLBACK TRANSACTION SavePoint
				SET @rStatus = 0;
				SELECT @rMessage = ERROR_MESSAGE();
			END CATCH
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateInformation]    Script Date: 16/12/2019 11:17:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_UpdateInformation]
	@OldToken			varchar(500),
	@NewToken			varchar(500),
	@DateTimeNow		datetime,
	@Username			varchar(500),
	@Password			varchar(500),
	@StartTime			time(7),
	@EndTime			time(7),
	@rStatus			bit OUTPUT,
	@rMessage			varchar(500) OUTPUT
AS
BEGIN
	IF NOT EXISTS (SELECT [Id] FROM [dbo].[MST_Register] WHERE [Token]=@OldToken AND [Role]='Admin')
		BEGIN
			SET @rStatus = 0;
			SET @rMessage = 'Data not found.';
		END
	ELSE
		BEGIN
			BEGIN TRANSACTION
			SAVE TRANSACTION SavePoint
			BEGIN TRY

				UPDATE [dbo].[MST_Register]
				SET [Token]=@NewToken,
					[Password]=@Password,
					[StartTime]=@StartTime,
					[EndTime]=@EndTime,
					[UpdateDate]=@DateTimeNow
				WHERE Username=@Username

				INSERT INTO [dbo].[MST_Register_Log]
					([Token],[Event],[Username],[Password],[StartTime],[EndTime],[LogDate])
				VALUES (@OldToken,'Update Information',@Username,@Password,@StartTime,@EndTime,@DateTimeNow);

				SET @rStatus = 1;
				SET @rMessage = 'Successfully';	

				COMMIT TRANSACTION SavePoint;

			END TRY
			BEGIN CATCH
			ROLLBACK TRANSACTION SavePoint
				SET @rStatus = 0;
				SELECT @rMessage = ERROR_MESSAGE();
			END CATCH
		END
END
GO
